* {
  margin: 0;
  padding: 0;	
}

#prompt-container {
  font-family: Courier New, Courier, monospace;
  font-size: 21px;
  letter-spacing: 3px;
}

#yellow-block {
  position: absolute;
  margin-top: 10px;
  width: 15px;
  height: 15px;
  background-color: yellow;
}

.keyboard-container {
  margin-top: 200px;
}

#target-letter {
  font-size: 38px;  
}

.keys-row {
  margin-top: 40px;
  padding: 10px 0;
}

#feedback {
  font-size: 20px;
}
.glyphicon-ok {
  content:"\e013";
  color: #1DA237
}

.glyphicon-remove {
  content:"\e014";
  color : #CD2626
}

#keyboard-upper-container {
  display: none;
}

.highlight-key {
  background-color: rgba(128, 0, 128, 0.65);
  text-decoration: underline;
  font-size: 2.5em;
}

.correct {
  font-size: 4em;
}
